name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: github-metrics.svg
          user: SparkleYR
          template: classic
          config_timezone: Asia/Kolkata
          config_theme: dark
          base: header, repositories
          plugin_streak: yes
          plugin_streak_mode: weekly
          extras_css: |
            h1 { display: none !important; }
